@import "./linkfile.scss";
@media screen and (max-width: 400px){
    .main{
        display: 100%;
        width: 400px;
    }
    .nav{
        width: 300px;
    }
    .left-nav{
        width: 100%;
    }
    .center-nav{
        display: none;
    }
    .right-nav{
        display: none;
    }
}